{% comment %}
Renders cart drawer

Usage:
{% render 'cart-drawer' %}
{% endcomment %}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<style>
  .drawer {
    visibility: hidden;
  }
</style>

<cart-drawer class="drawer" {% if cart==empty %} is-empty{% endif %}" {% if cart.item_count> 0
  %}data-total="{{cart.item_count }}"{% endif %}>
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div class="drawer__inner" role="dialog" aria-modal="true" aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1">
      {%- if cart == empty -%}
      <div class="drawer-head">
        <div class="drawer-header">
          <p class="b-18-m">Product cart is empty</p>
          <button class="drawer__close" type="button" onclick="this.closest('cart-drawer').close()"
            aria-label="{{ 'accessibility.close' | t }}">
            {% render 'icon-close' %}
          </button>
        </div>
        <div class="drawer-body">

        </div>
      </div>
      <style>
        .drawer__footer {
          display: none;
        }

        .drawer__inner {
          display: block !important;
          padding: 32px !important;
        }

        .drawer-head {
          border-bottom: 0.8px solid #262B30;
          padding-bottom: 16px;
        }

        .drawer__close {
          right: 22px !important;
          top: 26px !important;
        }

        .drawer__close svg {
          width: 17px !important;
          heigh: 17px !important;
        }
      </style>
      {%- else -%}
      <div class="drawer-head" {% if cart.item_count==0 %} style="display:none;" {%endif%}>
        <div class="drawer-header">
          <p class="b-18-m">Product added to cart </p>
          <button class="drawer__close" type="button" onclick="this.closest('cart-drawer').close()"
            aria-label="{{ 'accessibility.close' | t }}">
            {% render 'icon-close' %}
          </button>
        </div>
      </div>
      <cart-drawer-items {% if cart.item_count==0 %} class=" is-empty" {% endif %} id="cart-drawer-items">
        <div class="drawer-body">
          <div class="drawer-items">
            {% for item in cart.items %}
            <div class="drawer-item">
              <div class="drawer-item-img">
                <img src="{{ item.image | image_url: width: 90 }}" loading="lazy">
              </div>
              <div class="drawer-item-info">
                {% assign product_id = item.product_id %}
                {% for product in collections.all.products %}
                {% if product.id == product_id %}
                {% assign shopifyProduct = product %}
                {% endif %}
                {% endfor %}
                {% assign product_handle = shopifyProduct.handle %}
                {% assign artist = shopifyProduct.metafields.custom.author %}
                {% assign title = item.title | split: '-' %}
                <p class="b-16-m">{{title.first}} by {{artist}}</p>
                <div class="item-options">
                  {% for option in item.options_with_values %}
                  <p class="b-14-r text-grey">{{ option.value }}</p>
                  {% endfor %}
                </div>
                <p class="b-14-r">{{item.final_price | money_without_trailing_zeros}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </cart-drawer-items>
      {% endif %}
      <div class="drawer__footer">
        <div class="btn-cart"><a href="{{routes.cart_url}}"></a><span>View basket</span></div>
      </div>
      <style>
        .drawer__footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          background: transparent !important;
          border-top: 0 !important;
          margin: 0 auto !important;
          left: 0 !important;
          padding: 32px !important;
        }
      </style>
    </div>
  </div>
</cart-drawer>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

<style>

</style>
<script>

</script>