{% assign orientation = product.metafields.custom.orientation | downcase %}
{% assign author = product.metafields.custom.author %}
{% assign image_on_hover = product.metafields.custom.image_on_hover %}
<div class="product-item" data-filter="{{orientation}}">
    <div class="product-item-photo{% if orientation == 'landscape' %} landscape-photo {% endif %}"
        data-zoom-img="{% if  image_on_hover != blank %} {{image_on_hover | img_url: 'master'}}{% else %}{{product.featured_image | img_url: 'master'}}{% endif %}"
        data-product-img="{{product.featured_image | img_url: 'master'}}">
        <a href="{{product.url}}"></a>
        <img src="{{product.featured_image | img_url: 'master'}}" class="img-nonhover" loading="lazy">
        <img src="{{image_on_hover | img_url: 'master'}}" class="img-hover" loading="lazy">
    </div>
    <div class="product-item-info spotlight-info">
        <a href="{{product.url}}"></a>
        <div class="spotlight-text">
            <p class="b-14-r">{{product.title}}</p>
            <p class="b-14-r text-grey">{{author}}</p>
        </div>
        <div class="spotlight-price text-right">
            <p class="b-14-r">{{product.price | money_without_trailing_zeros | append: ',-' }}</p>
            {% assign quantity_left = product.selected_or_first_available_variant.inventory_quantity %}
            {% if quantity_left < 10 %} <p class="b-14-r text-grey text-italic">Few left</p>
                {% endif %}
        </div>
    </div>
</div>