<div class="container-fluid">
  <div class="container">
    <div class="cart-items-block">
      <div class="cart-items-head">
        <h3 class="m-h5">Shopping Cart</h3>
      </div>
      <div class="cart-items-all">
        <div class="list-all-items">
          {% for item in cart.items %}
          {% assign product_id = item.product_id %}
          {% for product in collections.all.products %}
          {% if product.id == product_id %}
          {% assign shopifyProduct = product %}
          {% endif %}
          {% endfor %}
          {% assign product_handle = shopifyProduct.handle %}
          {% assign artist = shopifyProduct.metafields.custom.author %}
          {% assign orientation = shopifyProduct.metafields.custom.orientation | downcase %}
          {% assign title = item.title | split: '-' %}
          <div  data-hulkapps-lineitem class="cart-item-full">
            <div class="cart-item-img {% if orientation == 'landscape' %} landscape-photo {% endif %}">
              <img src="{{ item.image | img_url: 'master' }}" loading="lazy">
            </div>
            <div class="cart-item-details">
              <div class="item-first-line" id="variant-{{item.variant_id}}">
                <p class="b-16-m item-name">{{title.first}} by {{artist}}</p>
                <p  data-hulkapps-ci-price data-key='{{item.key}}' class="b-14-r text-right">{{item.final_price | money_without_trailing_zeros}}</p>
              </div>
              <div class="item-options">
                {% for option in item.options_with_values %}
                <p class="b-14-r text-grey">{{ option.value }}</p>
                {% endfor %}
              </div>
              <div class="remove-product-btn" data-variant-id="{{item.variant_id}}">
                <a class="capps b-12-m text-underline" href="{{item.url_to_remove}}">REMOVE ITEM</a>
              </div>

            </div>
          </div>
          {% endfor %}
        </div>
        <div class="cart-totals ds">
          <div class="cart-total-sticky">
            <div class="cart-total-head">
              <p class="b-18-m">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} </p>
            </div>
            <div class="cart-total-price">
              <div class="cart-price">
                <p class="b-14-r text-grey">Total items: excluding shipping:</p>
                <p class="b-14-r text-right">{{cart.items_subtotal_price | money_without_trailing_zeros}}</p>
              </div>
              <div class="cart-price">
                <p class="b-14-r text-grey">Shipping:</p>
                <p class="b-14-r text-right">{{shipping_method.price | money_without_trailing_zeros}}</p>
              </div>
              <div class="cart-price">
                <p class="b-14-m">SUBTOTAL:</p>
                <p class="b-16-m text-right">{{ cart.total_price | money_without_trailing_zeros }}</p>
              </div>
            </div>
            <div class="btn-cart"><a href="/checkout"></a><span>Process order</span></div>
          </div>
        </div>
      </div>
      <div class="cart-total-sticky mb">
        <div class="cart-total-head">
          <p class="b-18-m">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} </p>
        </div>
        <div class="cart-total-price">
          <div class="cart-price">
            <p class="b-14-r text-grey">Total items: excluding shipping:</p>
            <p class="b-14-r text-right">{{cart.items_subtotal_price | money_without_trailing_zeros}}</p>
          </div>
          <div class="cart-price">
            <p class="b-14-r text-grey">Shipping:</p>
            <p class="b-14-r text-right">{{shipping_method.price | money_without_trailing_zeros}}</p>
          </div>
          <div class="cart-price">
            <p class="b-14-m">SUBTOTAL:</p>
            <p class="b-16-m text-right">{{ cart.total_price | money_without_trailing_zeros }}</p>
          </div>
        </div>
        <div class="btn-cart"><a href="/checkout"></a><span>Process order</span></div>
      </div>
    </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "class": "section",
  "settings": []
}
{% endschema %}