{% assign half = collection.all_products_count | divided_by: 2 | ceil %}
{% assign artist_title = section.settings.artist_title %}
{% assign artist_description = section.settings.artist_description %}
{% assign artist_cta = section.settings.artist_cta %}
{% assign artist_cta_url = section.settings.artist_cta %}
{% assign artist_img = collection.metafields.custom.artist_photo %}
{% assign artist_title = collection.metafields.custom.artist_title %}
{% assign artist_description = collection.metafields.custom.artist_description %}
<div class="container-fluid">
    <div class="container">
        <div class="collection-title">
            <h1 class="jumbo m-h3">{{ collection.title }}</h1>
            <p class="b-18-r text-grey text-italic">{{collection.metafields.custom.artist_location}}</p>
        </div>
        <div class="collection-hero-img">
            <img src="{{ collection.image | img_url: 'master' }}">
        </div>
        <div class="collection-description">
            <p class="b-18-r m-b-16-r">{{collection.description | strip_html}}</p>
        </div>
        <div class="collection-gallery">
            {% if collection.all_products_count > 6 %}
               <div class="gallery-grid collection-grid">
                {% for product in collection.products %}
                {% render 'product-item' product: product %}
                {% unless forloop.index != half %}
            </div>
            {% render 'artist-block' with artist_title: artist_title, artist_description: artist_description,
            artist_cta: artist_cta, artist_img: artist_img, artist_cta_url: artist_cta_url %}
            <div class="gallery-grid collection-grid">
                {% endunless %}
                {% endfor %}
            </div>

            {% else %}
           <div class="gallery-grid collection-grid">
                {% for product in collection.products %}
                {% render 'product-item' product: product %}
            
            {% endfor %}
              </div>
              <div class="additional-class-block">
            {% render 'artist-block' with artist_title: artist_title, artist_description: artist_description,
            artist_cta: artist_cta, artist_img: artist_img, artist_cta_url: artist_cta_url %}
        </div>
            {% endif %}
        </div>
        <div class="collection-rest">
            <div class="collection-rest-head">
                <h3 class="m-h5">{{section.settings.more}}</h3>
                <a class="cta allcaps text-right m-cta-custom" href="{{section.settings.more_cta_url}}">{{section.settings.more_cta}}</a>
            </div>
            <div class="collection-more-slider">
                {% for collection in collections %}
                {% if collection.template_suffix contains 'artist' %}
                <div class="more-item-block">
                    {% assign artist_img = collection.metafields.custom.artist_photo %}
                    <img src="{{artist_img | img_url: 'master'}}">
                    <h4 class="more-item-title m-h6"><a href="{{collection.url}}">{{collection.title}}</a></h4>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "Artist Collection",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "artist_title",
        "label": "Title",
        "default": "Artist Title"
      },
      {
        "type": "textarea",
        "id": "artist_description",
        "label": "Text",
        "default": "Artist Description"
      },
      {
        "type": "text",
        "id": "artist_cta",
        "label": "Read Story",
        "default": "Read Story"
      },
      {
        "type": "url",
        "id": "artist_cta_url",
        "label": "Add Url"
      },
      {
        "type": "header",
        "content": "More Photographers"
      },
      {
        "type": "text",
        "id": "more",
        "label": "Text",
        "default": "More Unceil photographers"
      },
      {
        "type": "text",
        "id": "more_cta",
        "label": "Meet All Unceil Photographers",
        "default": "meet all unceil photographers"
      },
      {
        "type": "url",
        "id": "more_cta_url",
        "label": "Add Url"
      }
    ],
      "presets": [
      {
        "category": "Artist Collection",
        "name": "Artist Collection",
        "settings": {}
      }
    ]
  }
{% endschema %}
  