{% assign block_1_title = product.metafields.custom.block_1_title %}
{% assign block_1_text = product.metafields.custom.block_1_text %}
{% assign block_2_title = product.metafields.custom.block_2_title %}
{% assign block_2_text = product.metafields.custom.block_2_text %}
{% assign block_3_title = product.metafields.custom.block_3_title %}
{% assign block_3_text = product.metafields.custom.block_3_text %}
{% assign block_4_title = product.metafields.custom.block_4_title %}
{% assign block_4_text = product.metafields.custom.block_4_text %}
{% assign block_5_title = product.metafields.custom.block_5_title %}
{% assign block_5_text = product.metafields.custom.block_5_text %}
{% assign limited = product.metafields.custom.limited_description %}
{% assign additional_photos = product.metafields.custom.description_photos %}
{% assign author = product.metafields.custom.author %}
{% assign image_on_hover = product.metafields.custom.image_on_hover %}
{% assign orientation = product.metafields.custom.orientation | downcase %}
{% if section.settings.adjust_fonts %}
<style>
.product-form-block h2 {
  font-size: {{ section.settings.h2}}px;
}
.product-form-block .b-16-r {
  font-size: {{ section.settings.photographer-name}}px;
}

.product-form-tab .b-14-m {
  font-size: {{ section.settings.tab-title}}px;
}
.product-tab-text .b-14-r {
  font-size: {{ section.settings.tab-text}}px;
}
.buy-btn .b-18-r {
  font-size: {{ section.settings.add-btn}}px;
}
.product-help-block .b-14-m {
  font-size: {{ section.settings.help-title}}px;
}
.standard-block p {
  font-size: {{ section.settings.help-text}}px;
}
.product-more-info .b-18-r {
  font-size: {{ section.settings.discover-cta}}px;
}
@media screen and (max-width: 641px) {
    .product-form-block .m-h3 {
      font-size: {{ section.settings.m-h3}}px;
    }
    .product-form-block .b-16-r {
      font-size: {{ section.settings.photographer-name-m}}px;
    }
    .product-form-tab .b-14-m {
      font-size: {{ section.settings.tab-title-m}}px;
    }
    .product-tab-text .b-14-r {
      font-size: {{ section.settings.tab-text-m}}px;
    }
    .buy-btn .b-18-r {
      font-size: {{ section.settings.add-btn-m}}px;
    }
    .product-help-block .b-14-m {
      font-size: {{ section.settings.help-title-m}}px;
    }
    .standard-block p {
      font-size: {{ section.settings.help-text-m}}px;
    }
    .product-more-info .b-18-r {
      font-size: {{ section.settings.discover-cta-m}}px;
    }
  }
</style>
{% endif %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<div class="container">
  <div class="container-fluid">
    <div class="product-grid">
      <div class="product-media">
        <div class="product-media-featured {% if orientation == 'landscape' %} landscape-photo {% endif %}"  data-zoom-img="{% if  image_on_hover != blank %} {{image_on_hover | img_url: 'master'}}{% else %}{{product.featured_image | img_url: 'master'}}{% endif %}"
        data-product-img="{{product.featured_image | img_url: 'master'}}">
          <img src="{{product.featured_image | img_url: 'master'}}" class="img-nonhover">
          <img src="{{image_on_hover | img_url: 'master'}}" class="img-hover">
        </div>
        <product-form class="product-form mb">
            <div class="product-form-block">
              <h2 class="m-h3">{{product.title}}</h2>
              <div class="product-form-info">
              <p class="b-16-r">{{author}}</p>
              {% if limited != blank %}
              <p class="b-14-r text-grey">{{limited}}</p>
              {% endif %}
            </div>
            </div>
            <div class="product-options-block">
              <div class="product-variants">
                {% for product_option in product.options_with_values %}
                <div class="product-options">
                  <div class="product-option-left">
                    {% if product_option.name contains 'Size' %}
                    <span class="b-14-r text-grey">Select size</span>
                    {% else %}
                    <span class="b-14-r text-grey">Framing</span>
                    {% endif %}
                  </div>
  
                  <select class="select-options select-options-m b-16-m" id="option-{{forloop.index}}-m">
                    {% for value in product_option.values %}
                    <option {% if product_option.selected_value==value %}selected{% endif %} val="{{value | downcase}}">
                      {{ value }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                {% endfor %}
                <select id="variants-select-m">
                  {% for variant in product.variants %}
                  <option id="{{variant.id}}" data-variant-id="{{variant.id}}" data-available="{{variant.available}}" data-price="{{variant.price | money_without_trailing_zeros}}" data-options="{{options| strip_newlines | strip | replace: " ", ""}}">
                    {{variant.title}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="product-form-add">
              {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
              {%- form 'product', product, id: product_form_installment_id, class: 'add-to-cart-form' -%}
              <input type="hidden" name="id" id="variant-id-m" value="{{ product.selected_or_first_available_variant.id }}">
              {{ form | payment_terms }}
              {%- endform -%}
              <div class="buy-btn-m" data-product-id="{{ product.selected_or_first_available_variant.id }}"
                data-available="{{ product.selected_or_first_available_variant.available }}" type="submit" name="add" aria-haspopup="dialog">
                {% if product.selected_or_first_available_variant.available %}
                <span class="b-18-r" id="buy-btn-m">Buy now - {{product.selected_or_first_available_variant.price |
                  money_without_trailing_zeros }}</span>
                {% else %}
                <span class="b-18-r" id="buy-btn-m">Not Available</span>
                {% endif %}
              </div>
            </div>
            <div class="product-tabs">
              <div class="product-form-tabs product-form-tabs-m">
                <div class="product-form-tab active-tab">
                  <p class="b-14-m">Product Details</p>
                </div>
                <div class="product-form-tab">
                  <p class="b-14-m">{{settings.payment_title}}</p>
  
                </div>
                <div class="product-form-tab">
                  <p class="b-14-m">{{settings.shipping_title}}</p>
                </div>
              </div>
              <div class="product-tabs-content product-tabs-content-m">
                <div class="product-tab-text standard-block">
                  <p class="b-14-r">{{product.content}}</p>
                </div>
                <div class="product-tab-text standard-block">
                  <p class="b-14-r">{{settings.payment_text}}</p>
                </div>
                <div class="product-tab-text standard-block">
                  <p class="b-14-r">{{settings.shipping_text}}</p>
                </div>
              </div>
            </div>
            <div class="product-help-block">
              <p class="b-14-m">{{settings.help_title}}</p>
              <div class="standard-block">
                <p class="b-14-r underline-link">{{settings.help_text | replace: '
                <p>', '' | replace: '</p>', ''}}</p>
              </div>
            </div>
            <div class="product-more-info">
              <a class="b-18-r more-info" href="#more-products">{{settings.more_info}}</a>
            </div>
        </product-form>
        <div class="product-gallery">
          {% for image in product.images %}
          {% if image.src != product.featured_image.src %}
          <div class="product-image">
            <img src="{{image.src | product_img_url: 'medium'}}">
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% if block_1_text != blank %}
        <div class="product-aditional">
          {% if block_1_text != blank %}
          <div class="product-additional-block">
            <p class="b-14-m">{{block_1_title}}</p>
            <div class="under-block">
              <p class="b-16-r text-grey">{{block_1_text}}</p>
            </div>
          </div>
          {% endif %}
          {% if block_2_text != blank %}
          <div class="product-additional-block">
            <p class="b-14-m">{{block_2_title}}</p>
            <div class="under-block">
              <p class="b-16-r text-grey">{{block_2_text}}</p>
            </div>
          </div>
          {% endif %}
          {% if block_3_text != blank %}
          <div class="product-additional-block">
            <p class="b-14-m">{{block_3_title}}</p>
            <div class="under-block">
              <p class="b-16-r text-grey">{{block_3_text}}</p>
            </div>
          </div>
          {% endif %}
          {% if additional_photos.value != blank %}
        <div class="product-additional-photos">
          {% for photo in additional_photos.value limit:1 %}
          <div class="product-additional-photo">
            <img src="{{photo | img_url: 'master'}}">
          </div>
          {% endfor %}
          <div class="product-additional-photos-grid">
            {% for photo in additional_photos.value %}
            {% if forloop.index >1 %}
            <div class="product-additional-photo">
              <img src="{{photo | img_url: 'master'}}">
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
          {% if block_4_text != blank %}
          <div class="product-additional-block">
            <p class="b-14-m">{{block_4_title}}</p>
            <div class="under-block">
              <p class="b-16-r text-grey">{{block_4_text}}</p>
            </div>
          </div>
          {% endif %}
          {% if block_5_text != blank %}
          <div class="product-additional-block">
            <p class="b-14-m">{{block_5_title}}</p>
            <div class="under-block">
              <p class="b-16-r text-grey">{{block_5_text}}</p>
            </div>
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
      <product-form class="product-form ds">
        <div class="product-form-sticky">
          <div class="product-form-block">
            <h2>{{product.title}}</h2>
            <p class="b-16-r">{{author}}</p>
            {% if limited != blank %}
            <p class="b-14-r text-grey">{{limited}}</p>
            {% endif %}
          </div>
          <div class="product-options-block">
            <div class="product-variants">
              {% for product_option in product.options_with_values %}
              <div class="product-options">
                <div class="product-option-left">
                  {% if product_option.name contains 'Size' %}
                  <span class="b-14-r text-grey">Select size</span>
                  {% else %}
                  <span class="b-14-r text-grey">Framing</span>
                  {% endif %}
                </div>

                <select class="select-options select-options-d b-16-m" id="option-{{forloop.index}}">
                  {% for value in product_option.values %}
                  <option {% if product_option.selected_value==value %}selected{% endif %} val="{{value | downcase}}">
                    {{ value }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              {% endfor %}
              <select id="variants-select">
                {% for variant in product.variants %}

                {% capture options %}
                  {% for option in variant.options %}
                  {% assign x = '' %}
                  {% if forloop.last != true %}
                  {% assign t = ',' %}
                  {% else %}
                  {% assign t = '' %}
                  {% endif %}
                    {{x | strip_newlines |  strip | rstrip | lstrip | append: option | append: t |  strip | rstrip | lstrip | strip_newlines}}
                    {% endfor %}
                  {%  assign r = x |  strip | rstrip | lstrip | strip_newlines %}  
                {{ r }}
              {% endcapture %} 

                <option id="{{variant.id}}" data-variant-id="{{variant.id}}" data-available="{{variant.available}}" data-price="{{variant.price | money_without_trailing_zeros}}"
              data-options="{{options| strip_newlines | strip | replace: " ", ""}}">
                  {{variant.title}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="product-form-add">
            {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
            {%- form 'product', product, id: product_form_installment_id, class: 'add-to-cart-form' -%}
            <input type="hidden" name="id" id="variant-id" value="{{ product.selected_or_first_available_variant.id }}">
            {{ form | payment_terms }}
            {%- endform -%}
            <div class="buy-btn" data-product-id="{{ product.selected_or_first_available_variant.id }}"
              data-available="{{ product.selected_or_first_available_variant.available }}" type="submit" name="add" aria-haspopup="dialog">
              {% if product.selected_or_first_available_variant.available %}
              <span class="b-18-r" id="buy-btn">Buy now - {{product.selected_or_first_available_variant.price |
                money_without_trailing_zeros }}</span>
              {% else %}
              <span class="b-18-r" id="buy-btn">Not Available</span>
              {% endif %}
            </div>
          </div>
          <div class="product-tabs">
            <div class="product-form-tabs product-form-tabs-d">
              <div class="product-form-tab active-tab">
                <p class="b-14-m">Product Details</p>
              </div>
              <div class="product-form-tab">
                <p class="b-14-m">{{settings.payment_title}}</p>

              </div>
              <div class="product-form-tab">
                <p class="b-14-m">{{settings.shipping_title}}</p>
              </div>
            </div>
            <div class="product-tabs-content product-tabs-content-d">
              <div class="product-tab-text standard-block">
                <p class="b-14-r">{{product.content}}</p>
              </div>
              <div class="product-tab-text standard-block">
                <p class="b-14-r">{{settings.payment_text}}</p>
              </div>
              <div class="product-tab-text standard-block">
                <p class="b-14-r">{{settings.shipping_text}}</p>
              </div>
            </div>
          </div>
          <div class="product-help-block">
            <p class="b-14-m">{{settings.help_title}}</p>
            <div class="standard-block">
              <p class="b-14-r underline-link">{{settings.help_text | replace: '<p>', '' | replace: '</p>', ''}}</p>
            </div>
          </div>
          <div class="product-more-info">
            <a class="b-18-r more-info" href="#more-products">{{settings.more_info}}</a>
          </div>
        </div>
      </product-form>
    </div>
  </div>
</div>
  <div class="container-fluid">
    <div id="more-products" class="more-products spotlight">
      <div class="spotlight-head more-products-head">
        <h3 class="m-h5">More from {{author}}</h3>
        {% assign author_collection = author | handleize %}
        <a class=" btn cta text-right" href="/collections/{{author_collection}}">EXPLORE ALL WORK</a>
      </div>
      <div class="spotlight-slider">
        {% assign author_collection = author | handleize %}
        <div {% if collections[author_collection].all_products_count >3 %}class="spotlight-slides"{% endif %}>
          {% for product in collections[author_collection].products %}
          {% assign orientation = product.metafields.custom.orientation | downcase %}
          <div class="spotlight-slide">
            <div class="spotlight-img {% if orientation == 'landscape' %} landscape-photo {% endif %}">
              <a href="{{product.url}}"></a>
              <img src="{{product.featured_image | img_url: 'master'}}">
            </div>
            <div class="spotlight-info product-slider-info">
              <a href="{{product.url}}"></a>
              <div class="spotlight-text">
                <p class="b-14-r">{{product.title}}</p>
                {% assign author = product.metafields.custom.author %}
                <p class="b-14-r text-grey">{{author}}</p>
              </div>
              <div class="spotlight-price text-right">
                <p class="b-14-r">{{product.price | money_without_trailing_zeros | append: ',-'}}</p>
                {% assign quantity_left = product.selected_or_first_available_variant.inventory_quantity %}
                {% assign few_left_quantity = settings.few_left_quantity | plus: 0 %}
                {% if quantity_left < few_left_quantity %}
                <p class="b-14-r text-grey text-italic">Few left</p>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% schema %}
{
  "name": "t:sections.main-product.name",
  "class": "section",
  "settings": [
  {
    "type": "checkbox",
    "id": "adjust_fonts",
    "label": "Adjust Font Sizes?",
    "default": false
  },
  {
    "type": "header",
    "content": "Desktop Heading Font Sizes"
  },
  {
    "type": "range",
    "id": "h2",
    "min": 40,
    "max": 100,
    "step": 2,
    "unit": "px",
    "label": "Product Title Font size",
    "default": 70
  },
  {
    "type": "range",
    "id": "photographer-name",
    "min": 12,
    "max": 24,
    "step": 1,
    "unit": "px",
    "label": "Photographer Name Font size",
    "default": 16
  },
  {
    "type": "range",
    "id": "tab-title",
    "min": 12,
    "max": 24,
    "step": 1,
    "unit": "px",
    "label": "Tab Title",
    "default": 14
  },
  {
    "type": "range",
    "id": "tab-text",
    "min": 12,
    "max": 24,
    "step": 1,
    "unit": "px",
    "label": "Tab Text",
    "default": 14
  },
  {
    "type": "range",
    "id": "add-btn",
    "min": 12,
    "max": 30,
    "step": 1,
    "unit": "px",
    "label": "Add To Cart Text",
    "default": 18
  },
  {
    "type": "range",
    "id": "help-title",
    "min": 10,
    "max": 24,
    "step": 1,
    "unit": "px",
    "label": "Help Block Title",
    "default": 14
  },
  {
    "type": "range",
    "id": "help-text",
    "min": 10,
    "max": 24,
    "step": 1,
    "unit": "px",
    "label": "Help Block Text",
    "default": 14
  },
  {
    "type": "range",
    "id": "discover-cta",
    "min": 10,
    "max": 30,
    "step": 1,
    "unit": "px",
    "label": "Discover More CTA",
    "default": 18
  },
  {
    "type": "header",
    "content": "Mobile Heading Font Sizes"
  },
  {
    "type": "range",
    "id": "m-h3",
    "min": 30,
    "max": 80,
    "step": 1,
    "unit": "px",
    "label": "Mobile Title Font size",
    "default": 53
  },
  {
    "type": "range",
    "id": "photographer-name-m",
    "min": 12,
    "max": 24,
    "step": 1,
    "unit": "px",
    "label": "Photographer Name Font size",
    "default": 16
  },
  {
    "type": "range",
    "id": "tab-title-m",
    "min": 12,
    "max": 24,
    "step": 1,
    "unit": "px",
    "label": "Tab Title",
    "default": 14
  },
  {
    "type": "range",
    "id": "tab-text-m",
    "min": 12,
    "max": 24,
    "step": 1,
    "unit": "px",
    "label": "Tab Text",
    "default": 14
  },
  {
    "type": "range",
    "id": "add-btn-m",
    "min": 12,
    "max": 30,
    "step": 1,
    "unit": "px",
    "label": "Tab Text",
    "default": 18
  },
  {
    "type": "range",
    "id": "help-title-m",
    "min": 10,
    "max": 24,
    "step": 1,
    "unit": "px",
    "label": "Help Block Title",
    "default": 14
  },
  {
    "type": "range",
    "id": "help-text-m",
    "min": 10,
    "max": 24,
    "step": 1,
    "unit": "px",
    "label": "Help Block Text",
    "default": 14
  },
  {
    "type": "range",
    "id": "discover-cta-m",
    "min": 10,
    "max": 30,
    "step": 1,
    "unit": "px",
    "label": "Discover More CTA",
    "default": 18
  }
  ]
}
{% endschema %}
