{% if section.settings.adjust_fonts %}
<style>
  .section-new-in h3 {
    font-size: {{ section.settings.h3}}px;
  }
  .section-new-in .allcaps {
    font-size: {{ section.settings.allcaps}}px;
  }
  .section-new-in .b-18-r {
    font-size: {{ section.settings.b-18-r}}px;
  }
  @media screen and (max-width: 641px) {
    .section-new-in .m-h6 {
      font-size: {{ section.settings.m-h6}}px;
    }
    .section-new-in .m-b-16-r {
      font-size: {{ section.settings.m-b-16-r}}px;
    }
  }
</style>
{% endif %}

<div class="container-fluid">
  <div class="container">
    <div class="new-in section-new-in">
      <div class="new-in-right">
        <p class="allcaps">{{section.settings.subtitle}}</p>
        <div class="new-in-text">
          <h3 class="m-h6">{{section.settings.title}}</h3>
          <p class="b-18-r m-b-16-r">{{section.settings.text}}</p>
          <div class="new-in-cta"><a href="{{section.settings.cta_url}}" class="btn cta text-left">{{section.settings.cta}}</a>
          </div>
        </div>
      </div>
      <div class="new-in-left">
        <div class="new-in-photo-slider">
          {% for block in section.blocks %}
          <div class="new-slide">
            <img src="{{block.settings.img | img_url: 'master'}}">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
    {
    "name": "New In",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Title",
        "default": "New In"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "CTA text",
        "default": "Explore work"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA Url"
      },
      {
        "type": "checkbox",
        "id": "adjust_fonts",
        "label": "Adjust Font Sizes?",
        "default": false
      },
      {
        "type": "header",
        "content": "Desktop Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "h3",
        "min": 60,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Title Font size",
        "default": 84
      },
      {
        "type": "range",
        "id": "allcaps",
        "min": 10,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Subtitle Title Font size",
        "default": 14
      },
      {
        "type": "range",
        "id": "b-18-r",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Regular Font size",
        "default": 18
      },
      {
        "type": "header",
        "content": "Mobile Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "m-h6",
        "min": 24,
        "max": 36,
        "step": 1,
        "unit": "px",
        "label": "Title Mobile Font size",
        "default": 30
      },
      {
        "type": "range",
        "id": "m-b-16-r",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Regular Mobile Font size",
        "default": 16
      }
    ],
    "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
  