{% if section.settings.adjust_fonts %}
<style>
  .section-{{section.id}} h1 {
    font-size: {{ section.settings.h1}}px;
  }
  .section-{{section.id}} h5 {
    font-size: {{ section.settings.h5}}px;
  }
  @media screen and (max-width: 641px) {
    .section-{{section.id}} .m-h3 {
      font-size: {{ section.settings.m-h3}}px;
    }
    .section-{{section.id}} .m-h6 {
      font-size: {{ section.settings.m-h6}}px;
    }
  }
</style>
{% endif %}
<div class="container-fluid">
    <div class="container">
        <div class="our-photographers">
            <div class="our-photographers-head">
                <h1 class="m-h3">{{section.settings.title}}</h1>
            </div>
            <div class="our-photographers-blocks">
                    {% for block in section.blocks %}
                    {% assign modulo = forloop.index | modulo:2 %}
                    <div class="our-photographers-block{% if modulo == 0 %} block-left {% endif %}">
                        <div class="our-photographers-block-img">
                            <a href="{{block.settings.url}}"></a>
                            <img src="{{block.settings.img | img_url: 'master'}}">
                        </div>
                        <div class="our-photographers-block-info">
                          <a href="{{block.settings.url}}"><h5 class="m-h6">{{block.settings.name}}</h5></a>
                        </div>                            
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
    "name": "Our Photographers",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "checkbox",
        "id": "adjust_fonts",
        "label": "Adjust Font Sizes?",
        "default": false
      },
      {
        "type": "header",
        "content": "Desktop Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "h1",
        "min": 76,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Title Font size",
        "default": 84
      },
      {
        "type": "range",
        "id": "h5",
        "min": 30,
        "max": 44,
        "step": 1,
        "unit": "px",
        "label": "Photographer's Name",
        "default": 37
      },
      {
        "type": "header",
        "content": "Mobile Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "m-h3",
        "min": 48,
        "max": 64,
        "step": 1,
        "unit": "px",
        "label": "Title Mobile Font size",
        "default": 53
      },
      {
        "type": "range",
        "id": "m-h6",
        "min": 24,
        "max": 36,
        "step": 1,
        "unit": "px",
        "label": "Photographer's Name Mobile Font size",
        "default": 30
      }
    ],
    "blocks": [
    {
      "type": "photo",
      "name": "Photo",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
            "type":"url",
            "id": "url",
            "label": "URL" 
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Photographer",
      "name": "photographer",
      "settings": {},
      "blocks": [
        {
          "type": "photo",
          "settings": {}
        },
        {
          "type": "photo",
          "settings": {}
        },
        {
          "type": "photo",
          "settings": {}
        },
        {
          "type": "photo",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
  