{% if section.settings.adjust_fonts %}
<style>
  .quote-block h3 {
    font-size: {{ section.settings.h2}}px;
  }
  .quote-block .b-18-r {
    font-size: {{ section.settings.b-18-r}}px;
  }
  @media screen and (max-width: 641px) {
    quote-block .m-h6 {
      font-size: {{ section.settings.m-h4}}px;
    }
    .quote-block .m-b-16-r {
      font-size: {{ section.settings.m-b-16-r}}px;
    }
  }
</style>
{% endif %}
<div class="container-fluid">
    <div class="container">
        <div class="quote-block">
            <div class="quote-block-right">
                <div class="quote-block-text">
                    <h3 class="m-h6">{{section.settings.title}}</h3>
                    <p class="b-18-r m-b-16-r">{{section.settings.text}}</p>
                    <div>
                        <p class="artist-name">{{section.settings.name}}</p>
                        <p class="b-14-r text-grey text-italic">{{section.settings.position}}</p>
                    </div>
                </div>
            </div>
            <div class="quote-block-left">
                <img src="{{section.settings.img | img_url: 'master'}}">
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "Quote",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "name",
        "label": "Name",
        "default": "Name"
      },
      {
        "type": "text",
        "id": "position",
        "label": "Position",
        "default": "Position"
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "Photo"
      },
      {
        "type": "checkbox",
        "id": "adjust_fonts",
        "label": "Adjust Font Sizes?",
        "default": false
      },
      {
        "type": "header",
        "content": "Desktop Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "h3",
        "min": 20,
        "max": 80,
        "step": 2,
        "unit": "px",
        "label": "Title Font size",
        "default": 53
      },
      {
        "type": "range",
        "id": "b-18-r",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Regular Font size",
        "default": 18
      },
      {
        "type": "header",
        "content": "Mobile Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "m-h6",
        "min": 18,
        "max": 66,
        "step": 2,
        "unit": "px",
        "label": "Mobile Title Font size",
        "default": 30
      },
      {
        "type": "range",
        "id": "m-b-16-r",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Regular Mobile Font size",
        "default": 16
      }
    ],
    "presets": [
    {
      "category": "Quote Block",
      "name": "Quote Block",
      "settings": {}
    }
  ]
}
{% endschema %}
  