{% if section.settings.adjust_fonts %}
<style>
  .section-spotlight h3 {
    font-size: {{ section.settings.h3}}px;
  }
  .section-spotlight .b-14-r {
    font-size: {{ section.settings.b-14-r}}px;
  }
  @media screen and (max-width: 641px) {
    .section-spotlight .m-h5 {
      font-size: {{ section.settings.m-h5}}px;
    }
  }
</style>
{% endif %}

<div class="container-fluid">
  <div class="spotlight section-spotlight">
    <div class="spotlight-head">
      <h3 class="m-h5">{{section.settings.title}}</h3>
      <a href="{{section.settings.cta_url}}" class="btn cta text-right">{{section.settings.cta}}</a>
    </div>
    <div class="spotlight-slider">
      <div class="spotlight-slides">
        {% for block in section.blocks %}
        {% assign shopifyProduct = block.settings.product %}
        {% assign artist = shopifyProduct.metafields.custom.author %}
        {% assign quantity_left = shopifyProduct.selected_or_first_available_variant.inventory_quantity %}
        {% assign few_left_quantity = settings.few_left_quantity | plus: 0 %}
        <div class="spotlight-slide">
          <div class="spotlight-img">
            <a href="{{shopifyProduct.url}}"></a>
            <img src="{{shopifyProduct.featured_image | img_url: 'master'}}">
          </div>
          <div class="spotlight-info">
            <a href="{{shopifyProduct.url}}"></a>
            <div class="spotlight-text">
              <p class="b-14-r">{{shopifyProduct.title}}</p>
              <p class="b-14-r text-grey">{{artist}}</p>
            </div>
            <div class="spotlight-price text-right">
              <p class="b-14-r">{{shopifyProduct.price | money_without_trailing_zeros | append: ',-'}}</p>
              {% if quantity_left < few_left_quantity %} <p class="b-14-r text-grey text-italic">Few left</p>
                {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Spotlight",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "cta",
      "label": "CTA text",
      "default": "Explore All Photography"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA Url"
    },
    {
      "type": "header",
      "content": "Desktop Heading Font Sizes"
    },
    {
      "type": "range",
      "id": "h3",
      "min": 50,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "H1 Font size",
      "default": 84
    },
    {
      "type": "range",
      "id": "b-14-r",
      "min": 10,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Regular Font size",
      "default": 14
    },
    {
      "type": "header",
      "content": "Mobile Font Sizes"
    },
    {
      "type": "range",
      "id": "m-h5",
      "min": 20,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Heading Mobile Font size",
      "default": 37
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Choose Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Slide",
      "name": "Slides",
      "settings": {},
      "blocks": [
        {
          "type": "slide",
          "settings": {}
        },
        {
          "type": "slide",
          "settings": {}
        },
        {
          "type": "slide",
          "settings": {}
        },
        {
          "type": "slide",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}