{% if section.settings.adjust_fonts %}
<style>
  .section-support-artists h1 {
    font-size: {{ section.settings.h1}}px;
  }
  .section-support-artists .b-18-r {
    font-size: {{ section.settings.b-18-r}}px;
  }
  .section-support-artists .artist-name  {
    font-size: {{ section.settings.artist-name }}px;
  }
  @media screen and (max-width: 641px) {
    .section-support-artists .m-h3 {
      font-size: {{ section.settings.m-h3}}px;
    }
    .section-support-artists .m-b-16-r {
      font-size: {{ section.settings.m-b-16-r}}px;
    }
  }
</style>
{% endif %}
<div class="container-fluid">
    <div class="container section-support-artists">
        <div class="support-artists">
            <div class="support-text-block">
                <h1 class="m-h3">{{section.settings.title}}</h1>
                <p class="b-18-r m-b-16-r">{{section.settings.text}}</p>
            </div>
            <div class="support-image-block">
                <img src="{{section.settings.img | img_url: 'master'}}">
                <div class="standard-block">
                    <p class="artist-name text-grey">{{section.settings.artist_name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "Support Artist",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "artist_name",
        "label": "Artist Name"
      },
      {
        "type": "checkbox",
        "id": "adjust_fonts",
        "label": "Adjust Font Sizes?",
        "default": false
      },
      {
        "type": "header",
        "content": "Desktop Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "h1",
        "min": 76,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Title Font size",
        "default": 84
      },
      {
        "type": "range",
        "id": "b-18-r",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Regular Font size",
        "default": 18
      },
      {
        "type": "range",
        "id": "artist-name",
        "min": 30,
        "max": 44,
        "step": 1,
        "unit": "px",
        "label": "Artist Name Font size",
        "default": 36
      },
      {
        "type": "header",
        "content": "Mobile Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "m-h3",
        "min": 48,
        "max": 64,
        "step": 1,
        "unit": "px",
        "label": "Title Mobile Font size",
        "default": 53
      },
      {
        "type": "range",
        "id": "m-b-16-r",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Regular Mobile Font size",
        "default": 16
      }
    ],
      "presets": [
      {
        "category": "Support Artist",
        "name": "Support Artist",
        "settings": {}
      }
    ]
  }
{% endschema %}
  