{% if section.settings.adjust_fonts %}
<style>
  .section-text-map h1 {
    font-size: {{ section.settings.h1}}px;
  }

  .section-text-map .b-18-r {
    font-size: {{ section.settings.b-18-r}}px;
  }
  @media screen and (max-width: 641px) {
    .section-text-map .m-h3 {
      font-size: {{ section.settings.m-h3}}px;
    }
    .section-text-map .m-b-16-r {
      font-size: {{ section.settings.m-b-16-r}}px;
    }
  }
</style>
{% endif %}
<div class="container-fluid">
    <div class="container">
        <div class="text-map section-text-map">
            <img src="{{'world-map.svg'|asset_url}}">
            <div class="text-map-block">
                <h1 class="m-h3">{{section.settings.title}}</h1>
                <p class="b-18-r m-b-16-r">{{section.settings.text}}</p>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "Text Map",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "adjust_fonts",
        "label": "Adjust Font Sizes?",
        "default": false
      },
      {
        "type": "header",
        "content": "Desktop Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "h1",
        "min": 50,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "H1 Font size",
        "default": 84
      },
      {
        "type": "range",
        "id": "b-18-r",
        "min": 14,
        "max": 26,
        "step": 1,
        "unit": "px",
        "label": "Regular Font size",
        "default": 18
      },
      {
        "type": "header",
        "content": "Mobile Font Sizes"
      },
      {
        "type": "range",
        "id": "m-h3",
        "min": 30,
        "max": 80,
        "step": 1,
        "unit": "px",
        "label": "H1 Mobile Font size",
        "default": 53
      },
      {
        "type": "range",
        "id": "m-b-16-r",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Mobile Regular Font size",
        "default": 16
      }
    ],
      "presets": [
      {
        "category": "Text Map",
        "name": "Text Map",
        "settings": {}
      }
    ]
  }
{% endschema %}