{% if section.settings.adjust_fonts %}
<style>
  .section-text-block h2 {
    font-size: {{ section.settings.h2}}px;
  }
  .section-text-block .b-16-r {
    font-size: {{ section.settings.b-18-r}}px;
  }
  @media screen and (max-width: 641px) {
    .section-text-block .m-h4 {
      font-size: {{ section.settings.m-h4}}px;
    }
  }
</style>
{% endif %}
<div class="container-fluid">
    <div class="container">
        <div class="text-block section-text-block">
            <div class="text-block-head">
                <h2 class="m-h4">{{section.settings.title}}</p>
            </div>
            <div class="text-blocks">
                {% for block in section.blocks %}
                <div class="text-block-item">
                    <p class="faq-question">{{block.settings.title}}</p>
                    <div class="text-block-text">
                        <p class="b-16-r">{{block.settings.text}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
    "name": "Text Blocks",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "checkbox",
        "id": "adjust_fonts",
        "label": "Adjust Font Sizes?",
        "default": false
      },
      {
        "type": "header",
        "content": "Desktop Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "h2",
        "min": 66,
        "max": 82,
        "step": 2,
        "unit": "px",
        "label": "Title Font size",
        "default": 70
      },
      {
        "type": "range",
        "id": "b-16-r",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Regular Font size",
        "default": 16
      },
      {
        "type": "header",
        "content": "Mobile Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "m-h4",
        "min": 38,
        "max": 52,
        "step": 1,
        "unit": "px",
        "label": "Title Mobile Font size",
        "default": 44
      }
    ],
    "blocks": [
    {
      "type": "text",
      "name": "Text Blocks",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
            "type":"richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Text</p>" 
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text Blocks",
      "name": "text",
      "settings": {},
      "blocks": [
        {
          "type": "text",
          "settings": {}
        },
        {
          "type": "text",
          "settings": {}
        },
        {
          "type": "text",
          "settings": {}
        },
        {
          "type": "text",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
  