{% if section.settings.adjust_fonts %}
<style>
  .title-text-block h2 {
    font-size: {{ section.settings.h2}}px;
  }
  .title-text-block .b-18-r {
    font-size: {{ section.settings.b-18-r}}px;
  }
  @media screen and (max-width: 641px) {
    .title-text-block h2 {
      font-size: {{ section.settings.m-h4}}px;
    }
    .title-text-block .m-h4 {
      font-size: {{ section.settings.m-h4}}px;
    }
    .title-text-block .m-b-16-r {
      font-size: {{ section.settings.m-b-16-r}}px;
    }
  }
</style>
{% endif %}
<div class="container-fluid">
    <div class="container">
        <div class="title-text-block">
            <h2 class="m-h4">{{section.settings.title}}</h2>
            <div class="standard-block">
                <p class="b-18-r m-b-16-r">{{section.settings.text}}</p>
            </div>
        </div>
    </div>
</div>
</div>

{% schema %}
{
    "name": "Title Text Block",
    "settings": [
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
        "type": "checkbox",
        "id": "adjust_fonts",
        "label": "Adjust Font Sizes?",
        "default": false
      },
      {
        "type": "header",
        "content": "Desktop Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "h2",
        "min": 40,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Title Font size",
        "default": 70
      },
      {
        "type": "range",
        "id": "b-18-r",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Regular Font size",
        "default": 18
      },
      {
        "type": "header",
        "content": "Mobile Heading Font Sizes"
      },
      {
        "type": "range",
        "id": "m-h4",
        "min": 20,
        "max": 80,
        "step": 2,
        "unit": "px",
        "label": "Mobile Title Font size",
        "default": 44
      },
      {
        "type": "range",
        "id": "m-b-16-r",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Regular Mobile Font size",
        "default": 16
      }
    ],
    "presets": [
        {
            "category": "Title Text Block",
            "name": "Title Text Block",
            "settings": {}
        }
    ]
}
{% endschema %}